<a href="https://colab.research.google.com/github/racheltr248/final_project_rtr/blob/main/licensors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# import clean licensors csv
url = 'https://raw.githubusercontent.com/Megreid23/final_project/main/csv%20files/licensors.csv'
licensors = pd.read_csv(url)
licensors.head()

   Unnamed: 0  anime_id                             licensors
0           0      5114  ['Funimation', 'Aniplex of America']
1           1     11061                         ['VIZ Media']
2           2     38524                        ['Funimation']
3           3      9253                        ['Funimation']
4           4     28851          ['Eleven Arts', 'NYAV Post']

In [ ]:
licensors.drop(columns = ['Unnamed: 0'], inplace=True)
licensors.head()

   anime_id                             licensors
0      5114  ['Funimation', 'Aniplex of America']
1     11061                         ['VIZ Media']
2     38524                        ['Funimation']
3      9253                        ['Funimation']
4     28851          ['Eleven Arts', 'NYAV Post']

In [ ]:
# convert list-like object columns into lists
# https://towardsdatascience.com/dealing-with-list-values-in-pandas-dataframes-a177e534f173
licensors['licensors'] = licensors['licensors'].apply(eval)
licensors.head()

   anime_id                         licensors
0      5114  [Funimation, Aniplex of America]
1     11061                       [VIZ Media]
2     38524                      [Funimation]
3      9253                      [Funimation]
4     28851          [Eleven Arts, NYAV Post]

In [ ]:
# separate list-like column into separate columns
# https://stackoverflow.com/questions/50264678/explode-column-of-lists-into-multiple-columns
series = licensors['licensors'].apply(pd.Series)
series.head()

             0                   1    2    3    4
0   Funimation  Aniplex of America  NaN  NaN  NaN
1    VIZ Media                 NaN  NaN  NaN  NaN
2   Funimation                 NaN  NaN  NaN  NaN
3   Funimation                 NaN  NaN  NaN  NaN
4  Eleven Arts           NYAV Post  NaN  NaN  NaN

In [ ]:
# merge licensors table and series
# https://stackoverflow.com/questions/26265819/how-to-merge-a-series-and-dataframe/40762674#40762674
licensors_merged = licensors.merge(series, left_index=True, right_index=True)
licensors_merged

,anime_id,licensors,0,1,2,3,4
0,5114,"[Funimation, Aniplex of America]",Funimation,Aniplex of America,NaN,NaN,NaN
1,11061,[VIZ Media],VIZ Media,NaN,NaN,NaN,NaN
2,38524,[Funimation],Funimation,NaN,NaN,NaN,NaN
3,9253,[Funimation],Funimation,NaN,NaN,NaN,NaN
4,28851,"[Eleven Arts, NYAV Post]",Eleven Arts,NYAV Post,NaN,NaN,NaN
...,...,...,...,...,...,...,...
10601,42234,[],NaN,NaN,NaN,NaN,NaN
10602,38771,[],NaN,NaN,NaN,NaN,NaN
10603,38066,[],NaN,NaN,NaN,NaN,NaN
10604,37336,[],NaN,NaN,NaN,NaN,NaN
10605,40361,[],NaN,NaN,NaN,NaN,NaN

In [ ]:
# drop original list column
licensors_merged.drop(columns = ['licensors'], inplace=True)
licensors_merged.head()

   anime_id            0                   1    2    3    4
0      5114   Funimation  Aniplex of America  NaN  NaN  NaN
1     11061    VIZ Media                 NaN  NaN  NaN  NaN
2     38524   Funimation                 NaN  NaN  NaN  NaN
3      9253   Funimation                 NaN  NaN  NaN  NaN
4     28851  Eleven Arts           NYAV Post  NaN  NaN  NaN

In [ ]:
licensors_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10606 entries, 0 to 10605
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  10606 non-null  int64
 1   0         4146 non-null   object
 2   1         760 non-null    object
 3   2         58 non-null     object
 4   3         4 non-null      object
 5   4         1 non-null      object
dtypes: int64(1), object(5)
memory usage: 497.3+ KB

In [ ]:
# RTR note: 
# lots of nulls in this field
# is it worth keeping? if so, how to bin or what to drop?
# add response comments below: